* {
    margin: 0;
}

body {
    font-family: 'Lateef', cursive;
}
.title {
    font-family: 'Reenie Beanie', cursive;
    background-color: white;
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 40pt;
    padding-top: 20px;
}
nav {
    position: relative;
    text-align: center;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 12px;
    padding-bottom: 10px;
}
.form {
    display: block;
    text-align: center;
    background-color: ghostwhite;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: 1em;
}
a {
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: dimgray;
}
/* mouse over link */
a:hover {
    color: gainsboro;
}
/*new*/
<style type="text/css">
.form2 {
    margin:10px auto;
    font: 13px;
}
.form2 li {
    padding: 0;
    display: block;
    list-style: none;
}
.form2 label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}
.form2 .fullname {
    width: 30%;
}

.form2 .email{
    width: 30%;
}
.form2 .who{
    width: 30%;
}
.form2 .message{
    height: 100px;
    width: 30%;
}
.buttonclick {
    background: gainsboro;
    padding: 8px 15px 8px 15px;
    border: none;
    color: white;
    width: 30%;
}

@media (max-width: 42em) {
  body {
    font-size: 12pt;
  }
    .text {
        width: 25em;
    }
    .form2 label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}
.form2 .fullname {
    width: 300px;
}

.form2 .email{
    width: 300px;
}
.form2 .who{
    width: 300px;
}
.form2 .message{
    height: 200px;
    width: 300px;
}
    .buttonclick {
    width: 300px;
}
}